<div>
  <h2><%= @post.title %></h2>
  <p><%= @post.text %></p>
  <p>Likes: <%= @post.likes.count %></p>
  <p>Comments: <%= @comments.count %></p>

  <ul>
    <% @comments.each do |comment| %>
      <li>
        <strong><%= comment.author.name %>:</strong> <%= comment.text %>
      </li>
    <% end %>
  </ul>
</div>
